/* @media (max-width: px) */
@media (max-width: 1100px) {
    .blog-row {
        flex-wrap: wrap;
    }

    .blog-right {
        margin-top: 35px;
    }
    .shapes {
        position: absolute;
        right: 215px;
        top: -40px;
    }
}

@media (max-width: 930px){
    .hero-row{ 
        flex-wrap: wrap;
    }
    .hero-left{
        margin-bottom: 50px;
    }
    .shapes {
        position: absolute;
        left: 65px;
        top: 180px;
    } 
}

@media (max-width: 850px) {
    .menus {
        display: none;
    }

    .header-left .bars {
        display: block;
    }
}

@media (max-width: 675px) {
    .hero-right img{
        width: 100%;
    }
    .shapes {
        position: absolute;
        left: -10px;
        top: 249px;
    }
}
@media (max-width: 530px) {
    .btns {
        box-shadow: 0px 24px 140px -12px #CBCED1;
        padding: 18px 30px;
    }

    .blog-left .img img {
        width: 100%;
    }

    .blog-para p {
        width: 100%;
        text-align: justify;
    }
    .hero-para p{
        width: 100%;
        text-align: justify;
    }
}

@media (max-width: 475px) {
    .btns {
        display: none;
    }

    .blog-title h2 {
        font-size: 30px;
    }
    .blog-para p{
        font-size: 18px;
    }
    .blog-btn a{
        font-size: 18px;
    }
    .hero-para p{
        font-size: 18px;
    }
    .shapes {  
        left: -10px;
        top: 249px;
    }
}

@media (max-width: 375px) {
    .extra h2 {
        font-size: 30px;
    }
    .hero-title h2 {
        font-size: 35px;
    }
    .shapes {
        position: absolute;
        left: -10px;
        top: 249px;
    }
}